<div class="container-fluid">

    <div class="swiper-container swiper-{{module.id}}">
        <!-- Swiper -->
        <div class="swiper-wrapper">

            <div class="swiper-slide" ng-repeat="module in module.items">

                <a ng-href="{{getModuleLink(module.content.url.identifier, module)}}"
                   title="{{getTitle(module.content)}}"
                   class="swiper-slide__slide">

                    <image_background_db
                        ng-if="getImage(module.content, 'main_image')"
                        filter_name="'block_slide'"
                        image="getImage(module.content, 'main_image')"
                        module=module
                        img_class="block-slide__image"
                        class=""
                        alt="{{getAltText(module.content)}}">
                    </image_background_db>

                    <div class="swiper-slide__content">
                        <div class="swiper-slide__content-date"
                             ng-if="module.content.handle == 'news'"
                             ng-bind-html="getDate(module.content.posted_at) | date: 'MMM dd' " ></div>

                        <div class="swiper-slide__content-date"
                             ng-if="module.content.handle == 'events'"
                             ng-bind-html="getDate(module.content.start_date_time) | date: 'MMM dd'" ></div>

                        <div class="swiper-slide__content-title"
                             ng-if="getTitle(module.content)"
                             ng-bind-html="getTitle(module.content)" ></div>

                        <div class="swiper-slide__content-subtitle"
                             ng-if="module.content.subtitle"
                             ng-bind-html="module.content.subtitle" ></div>

                        <p class="swiper-slide__content-description"
                           ng-if="module.content.description"
                           ng-bind-html="module.content.description | words: 20" ></p>
                    </div>

                    <structured_data module="module"></structured_data>

                </a>
            </div>

        </div>

    </div>
</div>

